
<div class="form-inline">
    <div class="form-group pull-right">
        <input type="reset" class="btn btn-default" value="&plus;" ng-click="onClickInsert()">
    </div>
    <div class="form-group pull-right">
        <input type="reset" class="btn btn-default" value="&minus;" ng-click="onClickRemove()">
    </div>
    <div class="form-group">
        <label class="sr-only" for="select_field{{ $index }}" ng-bind="model_info.strings.columnText"></label>
        <select id="select_field{{ $index }}" class="form-control" ng-model="value.expression" style="width: 128px;"
                ng-options="choice[0] as choice[1]|capitalize group by choice[2] for choice in get_value_choices()">
        </select>
    </div>
</div>
